<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>937737234376-77gh9v7vm0nnet7i2rao9igfifbiqfff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937737234376-77gh9v7vm0nnet7i2rao9igfifbiqfff</string>
	<key>API_KEY</key>
	<string>AIzaSyAwGjUtTelTu8_spxpa1HBU3xqRczEC2u8</string>
	<key>GCM_SENDER_ID</key>
	<string>937737234376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>didarnaurzbayev.InstagramCopy</string>
	<key>PROJECT_ID</key>
	<string>instagramcopy-71576</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcopy-71576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937737234376:ios:4cd2a194ace88fed</string>
	<key>DATABASE_URL</key>
	<string>https://instagramcopy-71576.firebaseio.com</string>
</dict>
</plist>